# RedM uses the standard Cfx server.cfg format.

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set gamename rdr3
sets locale "en-US"

sv_hostname "AlphaGSM RedM Server"
sv_maxclients 32
sv_licenseKey changeme

ensure mapmanager
ensure chat
ensure sessionmanager
ensure hardcap
ensure rconlog

add_ace group.admin command allow
add_ace group.admin command.quit deny

set onesync on